.restart__button {
  // CONFIGURATION
  $inset-depth: -4px;
  // PROPERTIES
  width: 52px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: none;
  background-color: $silver;
  box-shadow: inset 0 $inset-depth 0 $silver-shadow;
  padding-bottom: abs($inset-depth);
  
  &:hover {
    cursor: pointer;
    background-color: $silver-hover;
  }
}