$light-blue: hsla(178, 60%, 48%, 1);
$light-blue-hover: hsla(178, 76%, 66%, 1);
$light-blue-shadow: hsla(178, 79%, 31%, 1);
$light-yellow: hsla(39, 88%, 58%, 1);
$light-yellow-hover: hsla(39, 100%, 69%, 1);
$light-yellow-shadow: hsla(39, 83%, 44%, 1);
$dark-navy: hsla(200, 32%, 15%, 1);
$semi-dark-navy: hsla(200, 35%, 19%, 1);
$semi-dark-navy-hover: hsla(198, 23%, 72%, 0.05);
$semi-dark-navy-shadow: hsla(201, 45%, 11%, 1);
$silver: hsla(199, 24%, 73%, 1);
$silver-hover: hsla(198, 35%, 89%, 1);
$silver-shadow: hsla(199, 17%, 51%, 1);